<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30134093784-oc2kt75rebiv0rvoniicmg1oa3fm22ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30134093784-oc2kt75rebiv0rvoniicmg1oa3fm22ur</string>
	<key>API_KEY</key>
	<string>AIzaSyChddFl2Wb3tUHWOMLh9V5PoRapzQk6aLo</string>
	<key>GCM_SENDER_ID</key>
	<string>30134093784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.si.chatty</string>
	<key>PROJECT_ID</key>
	<string>si-chatty</string>
	<key>STORAGE_BUCKET</key>
	<string>si-chatty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30134093784:ios:b333bae92b4057c33154ad</string>
</dict>
</plist>